# Ignore everything in the root directory
/*

# But do not ignore these specific files and directories
!.gitignore
!wp-config.php
!.htaccess
!less/
!favicon.ico
!wp-content/

# Inside wp-content, ignore everything
wp-content/*

# Except the uncode-child theme directory
!wp-content/themes/uncode-child/
