# Ignore everything in the root directory except wp-config.php and .htaccess
/*
!.gitignore
!wp-config.php
!.htaccess
!less/
!favicon.ico

# Ignore all directories except wp-content
/*
!wp-content/

# Ignore everything in wp-content except child theme
/wp-content/*
!/wp-content/themes/uncode-child